ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

li {
    float: left;
    border-right: 1px solid #bbbbbb;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #311059;
}

.active {
    background-color: #7e51be;
}

li:last-child {
    border-right: none;
}
