.primel {
    padding: 14px 20px 8px;
    box-shadow: 0 1px 4px 0 #00000033;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 15px auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    user-select: none;
}

[tag = row] {
    border-radius: 5px;
}

.input {
    border: 2px solid #dddddd;
    min-height: 50px;
    min-width: 50px;
    width: 10vmin;
    height: 10vmin;
    border-radius: 10px;
    display: inline-flex;
    padding: 10px;
    text-align: center;
    color: #383838;
    margin: 6px 3px;
    font-size: 5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.input:disabled {
    background-color: #eeeeee;
}

@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
      background: #c2597a;
  }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
      background: #c2597a;
  }
  30% {
      transform: translate(3px, 2px) rotate(0deg);
      background: #c2597a;
  }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
      background: #c2597a;
  }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
      background: #c2597a;
  }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
      background: #c2597a;
  }
  70% {
      transform: translate(3px, 1px) rotate(-1deg);
      background: #c2597a;
  }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
      background: #c2597a;
  }
  90% {
      transform: translate(1px, 2px) rotate(0deg);
      background: #c2597a;
  }
  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}

.modal {
    box-shadow: 0 1px 4px 0 #00000033;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 6px 3px;
    color: #ffffff;
    text-align: center;
    background-color: #7e51be;
    border: 1px solid #888888;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px; opacity: 0
    }
    to {
        top: 0; opacity: 1
    }
}

.close {
    color: #311059;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.close:hover, .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.replay, .copy {
    border: 2px solid #dddddd;
    border-radius: 10px;
    display: inline-flex;
    padding: 10px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    margin: 6px 6px;
    font-size: 1rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.replay:hover, .copy:hover, .replay:focus {
    color: #333333;
    background-color: #ffffff;
    box-shadow: inset 0 1px 4px 0 #00000033;
}

.input:focus {
    border: 1px solid #bbbbbb;
    box-shadow: inset 0 1px 4px 0 #00000033;
}